<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bled.mytrening" >

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".program"
            android:label="@string/title_activity_program"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bled.mytrening.MainActivity" />
        </activity>
        <activity
            android:name=".training"
            android:label="@string/title_activity_training"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bled.mytrening.MainActivity" />
        </activity>
        <activity
            android:name=".statistics"
            android:label="@string/title_activity_statistics"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bled.mytrening.MainActivity" />
        </activity>

        <meta-data
            android:name="DATABASE"
            android:value="DBmyTraining.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example" />

        <activity
            android:name=".dayActivity"
            android:label="@string/title_activity_day"
            android:parentActivityName=".program" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bled.mytrening.program" />
        </activity>
        <activity
            android:name=".uprDayActivity"
            android:label="@string/title_activity_upr_day"
            android:parentActivityName=".dayActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bled.mytrening.dayActivity" />
        </activity>
        <activity
            android:name=".uprTrenActivity"
            android:label="@string/title_activity_upr_tren"
            android:parentActivityName=".training" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bled.mytrening.training" />
        </activity>
        <activity
            android:name=".podhodiActivity"
            android:label="@string/title_activity_podhodi"
            android:parentActivityName=".uprTrenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bled.mytrening.uprTrenActivity" />
        </activity>
        <activity
            android:name=".pokazStatActivity"
            android:label="@string/title_activity_pokaz_stat"
            android:parentActivityName=".statistics" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bled.mytrening.statistics" />
        </activity>
    </application>

</manifest>
